*, ::after, ::before {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

h2 {
  font-size: 18px;
}

.post-container {
  padding: 10px 14px;
}

.post-container:hover {
  background-color: lightgray;
  cursor: pointer;
}

#split-view-container {
  display: flex;
  top: 0px;
  bottom: 0px;
}

#sidebar {
  width: 30%;
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
  overflow-y: scroll;
  top: 0px;
  bottom: 0px;
}

#content-view {
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 70%;
  padding: 24px;
  background-color: white;
}

#content-view > h2 {
  font-size: 42px;
}

#content-view > p {
  font-size: 32px;
}

.content-title {
  background-color: red;
  margin-bottom: 6px;
}

.content-body {
  background-color: blueviolet;
  margin-bottom: 16px;
}

.comments {
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0px;
}

.comment-container {
  background-color: aliceblue;
}

.comment-title {
  background-color: salmon;
}

.comment-body {
  background-color: honeydew;
}

.comment-email { 
  background-color: wheat;
}