*, ::after, ::before {
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  background-color: rgb(245, 245, 245);
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.content {
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 70%;
  padding: 24px;
  background-color: white;

}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


h2 {
  font-size: 18px;
}

.post-container {
  padding: 10px 14px;
}

.post-container:hover {
  background-color: lightgray;
  cursor: pointer;
}

#split-view-container {
  display: flex;
  top: 0px;
  bottom: 0px;
}




#content-view > h2 {
  font-size: 42px;
}

#content-view > p {
  font-size: 32px;
}

.content-title {
  background-color: red;
  margin-bottom: 6px;
}

.content-body {
  background-color: blueviolet;
  margin-bottom: 16px;
}

.comments {
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0px;
}

.comment-container {
  background-color: aliceblue;
}

.comment-title {
  background-color: salmon;
}

.comment-body {
  background-color: honeydew;
}

.comment-email { 
  background-color: wheat;
}

@media only screen and (max-width: 992px) {
  body {
    flex-direction: column-reverse;
  }

  .sidebar {
    height: 150px;
  }
}
